body {
  font-family: "Varela Round", sans-serif;
  background: linear-gradient(120deg, #0f2027, #2c5364);
  height: 98vh;
  display: flex;
  flex-direction: column; /* Add this for vertical stacking */
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  background: rgba(240, 240, 240, 0.95);
  width: 70%; /* Responsive width */
  max-width: 600px; /* Max width for large screens */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: -20px; /* Overlap the form slightly */
}
#advancedOptions {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.8rem; /* Or any size you prefer */
  margin-top: 30px;
  height: 42px;
}

.form-questions {
  width: 70%;
  max-width: 600px;
  text-align: center;
  display: none;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  margin-top: 30px; /* Increase as needed */
  color: #f0f0f0; /* Light text color for visibility */
  pointer-events: none; /* Add this line */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.form-questions * {
  pointer-events: auto;
}

.form-questions h3,
.form-questions label {
  color: #f0f0f0; /* This assumes light-colored text will be visible */
  
}

h1,
h2,
h3 {
  font-family: "Varela Round", sans-serif;
  color: #333;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #fff; /* Change color for visibility against the new form background */
}
.gender-selection {
    display: flex;
    align-items: center;
  }
  
  .gender-selection h2,
  h3 {
    margin-right: 20px;
  }
  
  .gender-selection label {
    margin-right: 10px;
    white-space: nowrap;
  }
  
  .gender-selection,
  .question-back-selection {
    margin-bottom: 2px;
  }
  
  .gender-selection label,
  .question-back-selection label {
    font-size: 1rem;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .gender-selection input[type="radio"],
  .question-back-selection input[type="checkbox"] {
    margin-left: 5px;
    cursor: pointer;
  }
  
  #askerGenderSelection {
    opacity: 0;
    transition: opacity 0.4s ease;
  }

button {
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #2c5364;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0f2027;
}

#generated-response {
  visibility: hidden;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.4s ease;
}

#response-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

#copy-icon {
  text-align: center;
  margin-top: 15px; /* Space between the icon and the text */
  margin-left: 8px; /* Space between the icon and the text */
  margin-bottom: 37px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.copy {
  cursor: pointer;
  width: 20px; /* or the size you prefer */
  height: 20px; /* or the size you prefer */
}

.copy:hover {
  opacity: 50%; /* converts the icon to grey scale */
}

.check {
  width: 24px; /* or the size you prefer */
  height: 24px; /* or the size you prefer */
}
